body {
    background-size: cover;
}
.gameArea { 
    color: rgb(185, 6, 6);
    position: relative;
    text-align: center;
    background-color:rgb(0, 0, 0);
    width: 800px;
    height: 650px;
    top: 30px;
    left: 360px;
    border: solid rgb(185, 6, 6) 5px;
}
h1{
    padding-top: 20px;
    
}
h2 {
    padding: 10px;
    font-size:20px;
}
.timeRemaining {
    font-size: 25px;
    padding: 10px;
}   
.question {
    font-size: 40px;
    padding: 10px;
}
.answer {
    padding: 10px;
    width: 150px;
    margin: 0 auto;
}
.triviaAnswer {
    list-style: none;
    font-weight: bold;
    font-size: 25px;
    padding: 10px;
    
}
.correctAnswer {
    font-size: 25px;
    padding: 10px;
}

.resultsScene {
    font-size: 35px;
    padding: 20px;
}

.correct, .wrong, .unanswered {
    padding: 20px;
}

audio {
    padding-top: 20px;
}